{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
	<link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="row my-5">
					<div class="card" style="width: 50rem;">
						<img src="/media/{{ product.image }}" class="card-img-top" alt="...">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card-body to-card">
					<h1 class="name-detail">{{ product.name }}</h1>
					<br>
					<p class="text-detail">Цена {{ product.price }} руб</p>
					<p class="text-detail">Состав {{ product.description }}</p>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block footer %}
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; GeekShop 2020</p>
		</div>
		<!-- /.container -->
	</footer>
{% endblock %}