{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
	<link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="row my-5">
					<div class="card" style="width: 50rem;">
						<img src="/media/{{ product.image }}" class="card-img-top" alt="...">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card-body to-card">
					<h1 class="name-detail">{{ product.name }}</h1>
					<br>
					{% if product.category.id == 1 %}
						<p class="text-detail">Количество: 8шт</p>
						<p class="text-detail">Вес: 220г</p>
					{% endif %}
					{% if product.category.id == 2 %}
						<p class="text-detail">Диаметр: 32см</p>
						<p class="text-detail">Вес: 820г</p>
					{% endif %}
					{% if product.category.id == 3 %}
						<p class="text-detail">Вес: 150г</p>
					{% endif %}
					{% if product.category.id == 4 %}
						<p class="text-detail">Вес: 300г</p>
					{% endif %}
					{% if product.category.id == 5 %}
						<p class="text-detail">Вес: 220г</p>
					{% endif %}
					<p class="text-detail">Цена {{ product.price }} руб</p>
					<p class="text-detail">Состав: {{ product.description }}</p>

					<div class="col-lg-3 card-footer text-center">
						<button type="button" class="btn btn-out ne-success" value="{{ product.id }}">
							Отправить в корзину
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
